<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EAT THE BURGER</title>
  <link rel="icon" href="assets/img/favicon.ico" />
  
  <!--CSS-->
  <link href="/assets/css/reset.css" rel="stylesheet" />
  <link href="/assets/css/burger_style.css" rel="stylesheet" />

</head>

  <body>
    
    {{{body}}}

  <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <script src="/assets/js/clickHandler.js"></script>

  </body>

</html>
